/* ===================================================================
 	                          Website Name 
 *                       PK - Lighting Designer
 *                           By Livia Lau 
 ====================================================================== */

/* Global reset */

*, html, nav ul, nav ol, form, fieldset, legend {
	margin:0;
	padding:0;
}

article, aside, figure, footer, header, hgroup, nav, section { display:block; }


/* Fonts */


@font-face {
    font-family: 'museo300';
    src: url('../fonts/museo/museo300-regular-webfont.eot');
    src: url('../fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo/museo300-regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* Links */

a {
	text-decoration: none;	
	font-weight:normal;
	color:#000;
}

a:links {
	text-decoration: none;
	color:#4D4D4D;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
	font-family: 'Myriad Pro','Arial';
}

/* Typography & Font Embed */

.itl{font-style:italic;}

h1, h2, h3, h4, h5, p {
}

h1 {
	font-size:35px;
	font-style:italic;
	font-weight: 100px;
}

h2 {
	font-family: 'museo300';
	font-weight: 100;
	font-size:22px;
}

h3 {
	font-family: 'museo300';
	font-weight: none;
	font-style:italic
}

h4 {
}

h5{}

p {margin-bottom:6px;
}

span {
	
}

/* Non-Semantic Helper Classes */

.clearfix:before, .clearfix:after {
	content: ""; display: table; 
}

.clearfix:after { 
	clear: both; 
}

.clearfix { 
	*zoom: 1; 
}

.left { 
	float:left;
}

.right {
	float:right;
}

.clear_left{
	clear:right;
}

.clear_right{
	clear:left;
}

.center{
	margin:0 auto;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.fixed{
	position:fixed;
}

.hidden{
	display: none;
}

/*Display*/

.block{display:block;}

.inline{display:inline;}

.hide{display:none;}

.inline-block{display:inline-block;}

/* styles and spacings */

.text_right{text-align:right;}

.text_center{text-align:center;}

.text_left{text-align:left;}

/* Basic */

body {
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    width:100%;
    background-image: url("../img/bg.png"); 
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment:fixed;

}


/*============================
 *       Page Layout  
 *============================*/

.bg{
	background-color: #ccc;
}

.border{
	border:1px solid #000;
}

.wrapper{width:100%;}

.space-bttm{
margin-bottom:20px;
}

#fb,#ig{
	width:25px;
}



/*============================
 *       WORK PAGE
 *============================*/

/* Slider */

.slider-wrapper{
	width:600px;
	padding-top:35px;
	margin:0 auto;
}

/*#gallery{
	width:550px;
	margin:0 auto;
}*/


/*slider styles*/


/*============================
 *       GALLERY PAGE
 *============================*/

 .gallery-wrap{

 }


/*======================
 *    Contact Forms       
 *======================*/


button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible;}

.placeholder { color: #aaa; }

form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform, #Form_ContactForm{
margin:0 auto;
width:400px;
padding:14px;
}

#Form_ContactForm {
	
}

form fieldset {
	border: none;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #ccc;
}
#stylized h1 {
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
/*#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}*/
#stylized .small{
color:#ccc;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #ccc;
width:350px;
margin:2px 0 20px 0;
}
#stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #ccc;
width:350px;
margin:2px 0 20px 0;
font-family: 'arial';
}
#stylized button{
clear:both;
width:100px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}



/*======================
 *       Header       
 *======================*/

.top-bar{
	width:100%;
	padding:5px 0;
	text-align: right;
	background-color: #231f20;
	z-index: 1000;
}

.top-bar{
	position: fixed;
}

.top-bar > p{
	color:white;
	margin:0 10px;
}

.sideMenu{
	width:300px;
	margin-top:80px;
	border-right:1px solid #000;
	padding: 10px 0;
	position: fixed;
	background-color:white;
}

.sideMenu h2{
	margin-bottom:20px;
}

.logo{
	margin: 0 0 10px 0;
	width:55%
}

/*======================
 *       Navigation       
 *======================*/

nav{
	width: 175px;
	margin: 30px 0;
}

nav ul li a{
	line-height: 1.5;
}

nav ul li a:hover{
	border-bottom:2px solid #7d579a;
}

.social{
	width:175px;
}



/*======================
 *       Sections       
 *======================*/

section{
	/*padding-top:50px;*/
	
	height:700px;

}


.page{
	margin-left: 350px;
	/*width:100%;*/
}



/*=====================
		ABOUT PAGE
=======================*/

.about-wrapper,.exh-wrapper,.contact-wrappper,.gallery-wrap{
	width: 630px;
	padding:20px 20px;
	margin:0 auto;
	margin-top:30px;
}

.left-col,.right-col{
	float:left;
}

.left-col{
width:180px;
}

.right-col{
	width:400px;
	border-left:1px solid black;
	padding:0px 10px;
	margin-left: 20px;
}

.profile{
	border:5px solid #fff;
	margin:0 auto;
	margin-bottom:20px;
}


/* -- AWARDS -- */

.info{
	margin:25px 0;
}

.info-left,.info-right{
	float:left;
	width:190px;
}

.info-left{
	margin-right:15px;
}

/*=====================
	EXHIBITIONS PAGE
=======================*/

.exh-wrapper ul > li{
	margin-bottom:10px;
}

.exh-wrapper > .left-col{
	width:240px;
}

.exh-wrapper > .right-col{
	width:300px;
}


.exh-wrapper li{
	font-size: 13px;
}

.exh-wrapper h4{
	margin-bottom: 10px;
}


table td{
	font-size: 14px;
	line-height: 25px;
}

table td:first-child{
	width: 190px;
}

table
{
border-collapse:collapse;
}

#exhibitions table:first-child,
#exhibitions th:first-child, 
#exhibitions td:first-child
{
border-right: 1px solid black;
}

#exhibitions table td:first-child{
	width: 240px;
}

table:last-child,
th:last-child, 
td:last-child
{
padding-left:10px;
}

/*=====================
		lightbox
=======================*/











/* Typography
 *----------------------------------------------- */
/* line 33, ../sass/screen.sass */




/*body, input, textarea {
  color: white;
  text-shadow: 0 -1px 0 black;
  font-size: 16px;
  line-height: 1.625em;
  font-family: "Open Sans", "lucida grande", tahoma, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}*/




















/*======================
 *       Section       
 *======================*/



/*======================
 *       Footer       
 *======================*/

footer{}

#form fieldset {
	position: relative;
}
#form label {
	position: absolute;
	font-family: "Arial", Helvetica, sans-serif;
	color: #999;
	font-size: 14px;
	top: 7px;
	left: 5px;
}

#form input[type=text],
#form input[type=email] {
	text-indent: 50px;
}

#form textarea {
	text-indent: 80px;
}

#form label.error {
	bottom: 1px;
	color: red;
	top: auto;
}

.ssform #MemberLoginForm_LoginForm {
	margin-left: 350px;
	padding-top: 130px;
}

.top-bar a {
	color: lightblue;
}
